{
    "printWidth": 100,
    "tabWidth": 4,
    "trailingComma": "none",
    "bracketSameLine": true,
    "singleQuote": true,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "endOfLine": "auto"
}
